{% extends 'base.html.twig' %}

{% block title %}Hello IngredientController!{% endblock %}

{% block body %}
    <h1> Saisir un ingrédient </h1>
    <div class="p-1">
        {{ form(form) }}
    </div>
</div>
{% endblock %}
