{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/recipe.css') }}">
{% endblock %}

{% block body %}

<div class="recipe-details">

<h1>Vous pouvez créer et enregistrer vos recettes</h1>
<h3>Commencez maintenant</h3>
  <a href="{{ path('app_recipe') }}">C'est parti !</a>


</div>

{% endblock %}
