{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/recipe.css') }}">
{% endblock %}

{% block body %}

<div class="recipe-details mt-5">
    <div class="card mx-auto p-3" style="max-width: 50%;">
        <div class="card-body">
            <h3 class="text-center">Commencez maintenant</h3>
            <p class="card-text mt-4 d-flex justify-content-center align-items-center">
                <a href="{{ path('app_recipe') }}">C'est parti !</a>
            </p>
        </div>
    </div>
</div>



{% endblock %}
